{{ $sidebar := .Site.Data.sidebar }}
{{ $social := .Site.Data.social }}
{{ $socialfas := .Site.Data.socialfas}}

<section id="sidebar" class="sidebar d-flex align-items-center p-5">
  <div class="main-info">

    <img src="{{.Site.BaseURL}}images/{{ $sidebar.displayPicture }}" class="rounded-circle mb-3" width="160px">

    <h1 class="heading">{{ $sidebar.title }} <span class="highlight">{{ $sidebar.highlightedText }}</span></h1>
    <p class="text-muted">{{ $sidebar.description }}</p>

    <div class="social my-4">

      {{ range $key, $value := $social }}
        <a target="_blank" href="{{ $value }}" rel="me">
          <i class="fab fa-{{ $key }}"></i>
        </a>
      {{ end }}

      {{ range $key, $value := $socialfas }}
        <a target="_blank" href="{{ $value }}">
          <i class="fas fa-{{ $key }}"></i>
        </a>
      {{ end }}

      <div style="margin:-45px 0px 0px 270px">
        <a href="https://matrix.to/#/@fahimscirex:privacytools.io"><img height="32" width="32" src="https://unpkg.com/simple-icons@v4/icons/matrix.svg" /></a>
      </div>

    </div>

    <a href="https://fahimscirex.github.io" class="btn btn-dark btn-lg">Blog</a>
    <a href="#contact" class="btn btn-warning btn-lg">Contact</a>

  </div>
</section>
